@font-face {
    font-family: 'password';
    font-style: normal;
    font-weight: 400;
    src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
  }
.title {
    position:fixed;
    display:flex;
    top:0;
    z-index: 999;
    background-color: aquamarine;
    width:100%;
    height:8%;
    margin:0;
    padding:0;
    align-items:center;
    justify-content: center;
    text-align: center;
    font-size: 24;
    background:black;
    flex-direction:row;
}
.error{
    color:red;
}
.loginform{
    margin:auto;
    text-align:center;
}
.key{
    font-family:'password'
}
.listboxbox{
    position:absolute;
    overflow-y:hidden;
    display:flex;
    top:8%;
    width:100%;
    bottom:8%;
}
.listbox{
    flex: 0 0 100;
    display:flex;
    flex-direction:column-reverse;
    width: 100%;
    overflow-y:scroll;

}
.listbox2{
    flex: 0 0 100;
    display:flex;
    flex-direction:column;
    width: 100%;
    overflow-y:scroll;

}
.listboxbox2{
    position:absolute;
    overflow:hidden;
    display:flex;
    top:8%;
    width:100%;
}
.listbox::-webkit-scrollbar {
    display: none;
  }
.back{
    align-self:flex-start;
}
.chatlist{
    padding-left:50px;
    border-radius:0px;
    border-left-width:0px;
    border-right-width:0px; 
}
.message{
    flex: 0 0 100;
    height:auto;
    margin-left:25%;
    padding-left:5%;
    padding-right:10%;
    margin-bottom:10px;
    margin-top:10px;
    text-align:right;
    background:rgb(119, 119, 119);
}
.othermessage{
    flex: 0 0 100;
    height:auto;
    padding-left:10%;
    margin-right:25%;
    padding-right:5%;
    margin-bottom:10px;
    margin-top:10px;
    text-align:left;
}
.msgcontainer{
    position:fixed;
    top: 95%;
    bottom:0;
    width:100%;
}
.msgbox{
    width:100%;
    padding-right:0;
    height:100%;
}
.msginput{
    width:80%;
}
body{
    display:flex;
    background:#323232;
    color:white;
}
li{
    list-style-type:none;
    flex: 0 0 100;
    height:100px;
    border:black;
    border-style:solid;
    border-radius:20px;
}
ul{
    margin:0%;
    margin-top:0px;
    padding:0%;
}
@media screen and (max-aspect-ratio: 1/1) {
    html {
        font-size: 200% ;
    }
    body {
      background: #9af; /* blue */
    }
    .title {
        font-size: 200%;
    }
    .msgbox{
        font-size:150%;
    }
  }
  